DJANGO_SETTINGS_MODULE=config.settings.production
DJANGO_SECRET_KEY=Bassam123!Techs4ever112!!21
DJANGO_DEBUG=true # change to false in production
DJANGO_ALLOWED_HOSTS=127.0.0.1,localhost # change to your domain in production
ERROR_LOGGING_ENABLED=false # change to true in production

DB_NAME=excel_dashboard # change to your database name in production
DB_USER=root # change to your database user in production
DB_PASSWORD= # change to your database password in production (leave empty if you don't have a password)
DB_HOST=127.0.0.1 # change to your database host in production
DB_PORT=3306 # change to your database port in production   

AI_EXCEL_SMTP_HOST=
AI_EXCEL_SMTP_PORT=587
AI_EXCEL_SMTP_USER=
AI_EXCEL_SMTP_PASSWORD=Bassam123!
AI_EXCEL_SMTP_FROM=
AI_EXCEL_SMTP_FROM_NAME=
