# ── Django Settings ───────────────────────────────────────────────────────────────────────
DJANGO_SETTINGS_MODULE=config.settings.production
DJANGO_SECRET_KEY=Bassam123!Techs4ever112!!21
DJANGO_DEBUG=true # change to false in production
DJANGO_ALLOWED_HOSTS=127.0.0.1,localhost # change to your domain in production
ERROR_LOGGING_ENABLED=false # change to true in production

# ── Database Settings ───────────────────────────────────────────────────────────────────────
DB_NAME=excel_dashboard # change to your database name in production
DB_USER=root # change to your database user in production
DB_PASSWORD= # change to your database password in production (leave empty if you don't have a password)
DB_HOST=127.0.0.1 # change to your database host in production
DB_PORT=3306 # change to your database port in production   

# ── SMTP Settings ───────────────────────────────────────────────────────────────────────
AI_EXCEL_SMTP_HOST=smtp.gmail.com # change to your SMTP host in production
AI_EXCEL_SMTP_PORT=587 # change to your SMTP port in production
AI_EXCEL_SMTP_USER=noreply@dmian.com # change to your SMTP user (email address) in production
AI_EXCEL_SMTP_PASSWORD="1234567890" # change to your SMTP password in production
AI_EXCEL_SMTP_FROM=noreply@dmian.com # change to your SMTP email address from in production
AI_EXCEL_SMTP_FROM_NAME="Audit Dashboard" # change to your SMTP subject from name in production
AI_EXCEL_SMTP_USE_TLS=true # change to your SMTP use TLS in production (true or false)