{% load i18n %}
<div class="add-credentials-section" data-pw-scope="admin-add">
    <fieldset class="module aligned password-reset-fieldset">
        <h2>{% translate "Email credentials" %}</h2>
        <div class="password-reset-fields">
            {% include "admin/auth/user/send_credentials_checkbox.html" with checkbox_id="id_send_credentials_email" checked=adminform.form.send_credentials_email.value %}
            {% if adminform.form.send_credentials_email.errors %}
                <ul class="errorlist">
                    {% for error in adminform.form.send_credentials_email.errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>
    </fieldset>
</div>
