{% extends "admin/base_site.html" %}
{% load i18n static admin_urls %}

{% block extrastyle %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'css/password_rules.css' %}">
{% endblock %}

{% block breadcrumbs %}
<div class="breadcrumbs">
    <a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
    &rsaquo; <span class="breadcrumb-app-label">{{ opts.app_config.verbose_name }}</span>
    &rsaquo; <a href="{% url opts|admin_urlname:'changelist' %}">{{ opts.verbose_name_plural|capfirst }}</a>
    &rsaquo; <a href="{% url opts|admin_urlname:'change' original.pk|admin_urlquote %}">{{ original|truncatewords:"18" }}</a>
    &rsaquo; {% trans 'Change password' %}
</div>
{% endblock %}

{% block content %}
<div id="content-main">
    <form method="post">{% csrf_token %}
        <div>
            {% if form.errors %}
                <p class="errornote">
                    {% blocktranslate count counter=form.errors.items|length %}Please correct the error below.{% plural %}Please correct the errors below.{% endblocktranslate %}
                </p>
            {% endif %}
            <p>{% blocktranslate with username=original %}Enter a new password for the user <strong>{{ username }}</strong>.{% endblocktranslate %}</p>
            <fieldset class="module aligned">
                <div class="form-row">
                    {{ form.password1.errors }}
                    <div class="flex-container">
                        {{ form.password1.label_tag }} {{ form.password1 }}
                    </div>
                </div>
                <div class="form-row">
                    {{ form.password2.errors }}
                    <div class="flex-container">
                        {{ form.password2.label_tag }} {{ form.password2 }}
                    </div>
                </div>
            </fieldset>
            <div class="submit-row">
                <input type="submit" value="{% trans 'Change password' %}" class="default">
            </div>
        </div>
    </form>
</div>
<script>
document.documentElement.setAttribute("data-pw-username", "{{ original.username|escapejs }}");
</script>
<script src="{% static 'js/password_rules.js' %}"></script>
{% endblock %}
