{% load i18n %}
<div class="pw-field pw-field-checkbox send-credentials-option">
    <label for="{{ checkbox_id }}">
        <input type="checkbox" name="send_credentials_email" id="{{ checkbox_id }}"
               value="on"{% if form_id %} form="{{ form_id }}"{% endif %}{% if checked %} checked{% endif %}>
        {% translate "Send reset link" %}
    </label>
    <p class="help">{% translate "When checked, the new password is emailed to the user. They must change it on next sign-in." %}</p>
</div>
